<div class="container w-75 p-5">
  <div class="card text-center shadow">
    <div class="card-header bg-white">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">10.000€ in einer Woche</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Geheim</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h3 class="card-title">{{aboutTitle}}</h3>
      <br>
      <p class="card-text">{{aboutText}}</p>
      <br>
      <a href="{{aboutBtnUrl}}" class="btn btn-primary">{{aboutBtnText}}</a>
    </div>
  </div>
</div>