<div class="container w-75 p-5 my-5">
  <div class="row">
    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-body text-center shadow p-4">
          <h3 class="card-title">{{homeTitle}}</h3>
          <img src="{{homeImg}}" class="card-img-top" alt="">
          <br>
          <br>
          <p class="card-text">{{homeText}}</p>
          <a href="{{homeBtnUrl}}" class="btn btn-primary">{{homeBtnText}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="card">
        <div class="card-body text-center shadow p-4">
          <h3 class="card-title">{{homeTitle2}}</h3>
          <img src="{{homeImg2}}" class="card-img-top" alt="">
          <br>
          <br>
          <p class="card-text">{{homeText2}}</p>
          <a href="{{homeBtnUrl2}}" class="btn btn-primary ">{{homeBtnText2}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
